! ------------------------------------------------------------------------------
! URxvt standard arcolinux theme - Reload with xrdb -merge ~/.Xresources
! ------------------------------------------------------------------------------

! general settings
URxvt*saveline:         15000
URxvt*termName:         xterm-256color
URxvt*urgentOnBell:     false
URxvt*visualBell:       true
URxvt*iso14755:         false
URxvt*iso14755_52:      false
URxvt*meta8:            false
URxvt*metaSendsEscape:  true
URxvt*iconFile:         /usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg

! appearance
URxvt*depth:             32
URxvt*transparent:       true
URxvt*shading:           30
URxvt*underlineColor:    #c7e6ff
URxvt*highlightColor:    #c7e6ff
URxvt*throughColor:      Blue
URxvt*scrollBar:         false
URxvt*scrollTtyOutput:   true
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*internalBorder:    0
URxvt*externalBorder:    0
URxvt*colorIT:           #87af5f
URxvt*colorBD:           #f8f8f2
URxvt*colorUL:           #87afd7


! colors
! special
URxvt*foreground:        #f8f8f2
URxvt*background:        #282a36
URxvt*cursorColor:       #f8f8f2

! black
URxvt*color0:            #282a36
URxvt*color8:            #969896

! red
URxvt*color1:            #ff5555
! bold red
URxvt*color9:            #cc342b

! green
URxvt*color2:           #50fa7b
! bold green
URxvt*color10:          #198844

! yellow
URxvt*color3:           #f1fa8c
! bold yellow
URxvt*color11:          #fba922

! blue
URxvt*color4:           #6272a4
! bold blue
URxvt*color12:          #3971ed

! purple
URxvt*color5:           #bd93f9
! pink
URxvt*color13:          #ff79c6

! cyan
URxvt*color6:           #8be9fd
URxvt*color14:          #8be9fd

! white
URxvt*color7:           #f8f8f2
URxvt*color15:          #ffffff

! fonts
URxvt*letterSpace: 	    		-2
URxvt*font:                 	xft:hack:regular:size=14
URxvt*imFont:               	xft:hack:regular:size=14
URxvt*boldFont:             	xft:hack:size=14
URxvt*italicFont:           	xft:hack:italic:size=14
URxvt*boldItalicFont:     		xft:hack:italic:size=14

! perl extensions
URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,resize-font,tabbed

! macros for clipboard and selection
URxvt*copyCommand:      xclip -i -selection clipboard
URxvt*pasteCommand:     xclip -o -selection clipboard
URxvt*keysym.C-C:       perl:clipboard:copy
URxvt*keysym.C-V:       perl:clipboard:paste
URxvt*keysym.C-A-V:     perl:clipboard:paste_escaped
URxvt*keysym.M-Escape:  perl:keyboard-select:activate
URxvt*keysym.M-s:       perl:keyboard-select:search
URxvt*keysym.M-u:       perl:url-select:select_next
URxvt*resize-font.smaller:	C-Down
URxvt*resize-font.bigger:	C-Up
URxvt*urlLauncher:      google-chrome-stable
URxvt*underlineURLs:    true
URxvt*urlButton:        1
URxvt*geometry: 		90x30

! tabbed
URxvt*tabbed.tabbar-fg: 4
URxvt*tabbed.tabbar-bg: 16
URxvt*tabbed.tab-fg:    15
URxvt*tabbed.tab-bg:    4
URxvt*buffered:         false
URxvt*keysym.Control-Shift-C: perl:clipboard:copy
URxvt*keysym.Control-Shift-V: perl:clipboard:paste
