! ------------------------------------------------------------------------------
! URxvt standard arcolinux theme - Reload with xrdb -merge ~/.Xresources
! ------------------------------------------------------------------------------


! general settings
URxvt*saveline:         15000
URxvt*termName:         xterm-256color
URxvt*urgentOnBell:     false
URxvt*visualBell:       true
URxvt*iso14755:         false
URxvt*iso14755_52:      false
URxvt*meta8:            false
URxvt*metaSendsEscape:  true
URxvt*iconFile:         /usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg

! appearance
URxvt*depth:             32
URxvt*transparent:       false
URxvt*shading:           30
URxvt*underlineColor:    #c7e6ff
URxvt*highlightColor:    #c7e6ff
URxvt*throughColor:      Blue
URxvt*scrollBar:         false
URxvt*scrollTtyOutput:   true
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*internalBorder:    0
URxvt*externalBorder:    0
URxvt*colorIT:           #87af5f
URxvt*colorBD:           #f8f8f2
URxvt*colorUL:           #87afd7


! colors
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

! special
*foreground:        nord4
*background:        nord0
*cursorColor:       nord4
*fading:			0
*fadeColor:		 	nord3

*color0: 			nord1
*color1: 			nord11
*color2: 			nord14
*color3: 			nord13
*color4: 			nord9
*color5: 			nord15
*color6: 			nord8
*color7: 			nord5
*color8: 			nord3
*color9: 			nord11
*color10: 			nord14
*color11: 			nord13
*color12: 			nord9
*color13: 			nord15
*color14: 			nord7
*color15: 			nord6

! fonts
URxvt*letterSpace: 	    		0
URxvt*font:                 	xft:Ubuntu Mono derivative Powerline:style=Regular:size=13
URxvt*imFont:               	xft:Ubuntu Mono derivative Powerline:style=Regular:size=13
URxvt*boldFont:             	xft:Ubuntu Mono derivative Powerline:style=Bold:size=13
URxvt*italicFont:           	xft:Ubuntu Mono derivative Powerline:style=Italic:size=13
URxvt*boldItalicFont:     		xft:Ubuntu Mono derivative Powerline:style=Bold Italic:size=13

! perl extensions
URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,resize-font

! macros for clipboard and selection
URxvt*copyCommand:      xclip -i -selection clipboard
URxvt*pasteCommand:     xclip -o -selection clipboard
URxvt*keysym.C-C:       perl:clipboard:copy
URxvt*keysym.C-V:       perl:clipboard:paste
URxvt*keysym.C-A-V:     perl:clipboard:paste_escaped
URxvt*keysym.M-Escape:  perl:keyboard-select:activate
URxvt*keysym.M-s:       perl:keyboard-select:search
URxvt*keysym.M-u:       perl:url-select:select_next
URxvt*resize-font.smaller:	C-Down
URxvt*resize-font.bigger:	C-Up
URxvt*urlLauncher:      google-chrome-stable
URxvt*underlineURLs:    true
URxvt*urlButton:        1
URxvt*geometry: 		90x30

! tabbed
URxvt*tabbed.tabbar-fg: 4
URxvt*tabbed.tabbar-bg: 16
URxvt*tabbed.tab-fg:    15
URxvt*tabbed.tab-bg:    4
URxvt*buffered:         false
URxvt*keysym.Control-Shift-C: perl:clipboard:copy
URxvt*keysym.Control-Shift-V: perl:clipboard:paste


st*.font:	Ubuntu Mono derivative Powerline:pixelsize=17:antialias=true:autohint=true;
st*.alpha: 1
