! ------------------------------------------------------------------------------
! URxvt standard arcolinux theme - Reload with xrdb -merge ~/.Xresources
! ------------------------------------------------------------------------------


! general settings
URxvt*saveline:         15000
URxvt*termName:         xterm-256color
URxvt*pointerBlank:     true
URxvt*cursorBlink:      true
URxvt*urgentOnBell:     false
URxvt*visualBell:       true
URxvt*iso14755:         false
URxvt*iso14755_52:      false
URxvt*meta8:            false
URxvt*metaSendsEscape:  true
URxvt*iconFile:         /usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg

! appearance
URxvt*depth:             32
URxvt*transparent:       false
URxvt*shading:           30
URxvt*underlineColor:    #c7e6ff
URxvt*highlightColor:    #000000
URxvt*throughColor:      Blue
URxvt*scrollBar:         false
URxvt*scrollTtyOutput:   true
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*internalBorder:    0
URxvt*externalBorder:    0
URxvt*colorIT:           #87af5f
URxvt*colorBD:           #f8f8f2
URxvt*colorUL:           #87afd7

! colors
#define dark0 #2E3440
#define dark1 #3B4252
#define dark2 #434C5E
#define dark3 #4C566A
#define dark4 #D8DEE9
#define dark5 #E5E9F0
#define dark6 #ECEFF4
#define dark7 #8FBCBB
#define dark8 #88C0D0
#define dark9 #81A1C1
#define dark10 #5E81AC
#define dark11 #BF616A
#define dark12 #D08770
#define dark13 #EBCB8B
#define dark14 #A3BE8C
#define dark15 #B48EAD

! special
*foreground:        dark4
*background:        dark0
*cursorColor:       dark4

*color0: 			dark1
*color1: 			dark11
*color2: 			dark14
*color3: 			dark13
*color4: 			dark9
*color5: 			dark15
*color6: 			dark8
*color7: 			dark5
*color8: 			dark3
*color9: 			dark11
*color10: 			dark14
*color11: 			dark13
*color12: 			dark9
*color13: 			dark15
*color14: 			dark7
*color15: 			dark6

! fonts
URxvt*letterSpace: 	    		0
URxvt*font:                 	xft:UbuntuMono Nerd Font Mono:style=Regular:size=13
URxvt*imFont:               	xft:UbuntuMono Nerd Font Mono:style=Regular:size=13
URxvt*boldFont:             	xft:UbuntuMono Nerd Font Mono:style=Bold:size=13
URxvt*italicFont:           	xft:UbuntuMono Nerd Font Mono:style=Italic:size=13
URxvt*boldItalicFont:     		xft:UbuntuMono Nerd Font Mono:style=Bold Italic:size=13

! perl extensions
URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,resize-font,matcher

! macros for clipboard and selection
URxvt*copyCommand:      xclip -i -selection clipboard
URxvt*pasteCommand:     xclip -o -selection clipboard
URxvt*keysym.Control-Shift-C: perl:clipboard:copy
URxvt*keysym.Control-Shift-V: perl:clipboard:paste
URxvt*keysym.C-A-V:     perl:clipboard:paste_escaped
URxvt*keysym.M-Escape:  perl:keyboard-select:activate
URxvt*keysym.M-s:       perl:keyboard-select:search
URxvt*keysym.M-u:       perl:url-select:select_next
URxvt*resize-font.smaller:	C-Down
URxvt*resize-font.bigger:	C-Up
URxvt*url-select.undeline: true
URxvt*url-select.launcher: /usr/bin/google-chrome-stable
URxvt*matcher.button:   1
URxvt*geometry: 		90x30

! tabbed
URxvt*tabbed.tabbar-fg: 4
URxvt*tabbed.tabbar-bg: 16
URxvt*tabbed.tab-fg:    15
URxvt*tabbed.tab-bg:    4
URxvt*buffered:         false
